body {
    background-color: #fefae0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
}

.form-container {
    border-radius: 20px;
    background-color: #faedcd;
    width: 25%;
    height: 30px;
    margin: auto;
    margin-top: 120px;
    box-sizing: border-box;
    padding-bottom: 360px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.2);
}

.form-container h2 {
    color: #4e342e;
    text-align: center;
    padding: 30px 10px 0px 10px;  
}

.form-container p {
    color: #6d4c41;
    text-align: center;
    padding: 0px 10px 0px 10px;
    font-style: italic;
}

.input-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;        
}

.input-form label {
    color: #4e342e;
    font-size: 20px;
}

.input-form input[type="text"] {
    color: #000000;
    background-color: #d4a373;
    text-align: center;
    border-radius: 5px;
    width: 60%;
    height: 40px;
    border: none;
    box-sizing: border-box;
    outline: none;
    margin: 0px 0px 0px 0px;
}

.input-form input[type="text"]:focus {
    border: 2px solid #bc6c25;
}

#notification {
    text-align: center;  
}

#button {
    background-color: #bc6c25;
    width: 25%;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#button:hover {
    background-color: #99582a;
    color: #fff3e6;
}

#button:active {
    background-color: #7a4b1c;
    color: #fff3e6;
}


@media (max-width: 1024px) {
    .form-container {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .form-container {
        width: 40%;
    }
}

@media (max-width: 480px) {
    .form-container {
        width: 80%;
    }
}